@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);
@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Monoton|Rubik:900|Bungee+Inline|Cinzel|Fugaz+One|Kodchasan|Poiret+One|Prosto+One|Raleway+Dots|Rubik|Jaldi);


*{
  box-sizing: border-box;
}

/*
font-family: 'Monoton', cursive;
font-family: 'Rubik', sans-serif;
font-family: 'Bungee', cursive;
font-family: 'Bungee Shade', cursive;
*/

body{
  background-image:url(https://www.karl-andersson.se/$1/Article/3462/1/20_Knivsta-Kommun-Cap-pelarbord-pedestal-table-Karl-Andersson-S%C3%B6ner-4.jpg);
  background-attachment: fixed;
  background-size:cover;
  width:100vw;
  font-family: 'Jaldi', sans-serif;
}

header{
  color:white;
}

h1{
  font-family: 'Kodchasan', cursive;
  font-style: italic;
  word-spacing:0.5em;
  height:15vh;
  margin-top:-17px;
  font-size:490%;
  text-shadow: 5px 7px 1px darkred;
}

main{
  min-height:80vh;
  padding:7vh 5vw 0vh;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color: rgba(170,20,50,0.3);
}
article{
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
article>div{
  flex-grow:1;
}
aside{
  height:71vh;
  margin-left:2vw;
  padding:1vw;
  min-width:17vw;
}
aside nav{
  display:flex;
  flex-direction:column;
  text-align:right;
  position:fixed;
  right:0.5vw;
  top:4vh;
  background-color:rgba(0,0,0,0.7);
  padding:20px;
  border-radius:50%;
}
nav a{
  text-decoration:none;
  color:white;
  font-size:2.3vw;
  line-height:1.3em;
  font-family: 'Kodchasan', cursive;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}
section{
  background-color:rgba(255,255,255,0.8);
  border-radius:0 0 20px 0;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
  margin-bottom:10vh;
  overflow:hidden;
  background-size:cover;
  background-repeat:no-repeat;
  padding-left:35vw;
}
.intro{
  margin-bottom:10vh;
  border-radius:50px;
}
.intro.text{
  background-color: rgba(150,55,0,0.9);
  color:white;
  padding:30px 40px 20px;
}

.text{
  padding:3vh 4vw 2vh 3vw;
  display:inline-block;
  background-color:rgba(255,255,255,0.8);
  box-shadow: -5px 0px 10px rgba(0,0,0,0.6);
}
.text h2{
  margin:0;
  font-family: 'Kodchasan', cursive;
//text-shadow: 1px 1px 1px darkred;
}
.text p{
  font-size: 110%;
}

.icons{
  margin-top:1.5vh;
  display:flex;
  font-size:80%;
}
.icons>div{
  margin-right:1vw;
}

section:nth-child(even){
  justify-content:flex-end;
  border-radius:0 0 0 20px;
  padding-left:0;
  padding-right:35vw;
}

section:nth-child(even) .text{
  box-shadow: 5px 0px 10px rgba(0,0,0,0.6);
}

section:last-child{
margin-bottom:50vh;
}

#not-a-burger{
  background-image:url(https://images.unsplash.com/photo-1532768641073-503a250f9754?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bceece29b062fe6d758ddfa2400c554c&auto=format&fit=crop&w=2468&q=80);
}

#borscht{
  background-image:url(http://pdxmag.com/wp-content/uploads/2013/12/borscht-bowl-1-2.jpg);
}

#blueberry-pie{
  background-image:url(https://images.unsplash.com/photo-1490323948794-cc6dde6e8f5b?ixlib=rb-0.3.5&s=0156b72692625eb21ab8e23d54bd37ec&auto=format&fit=crop&w=2526&q=80);
}

@media screen and (max-width:700px){
  h1{
    font-size:370%;
    margin-top:0;
    margin-bottom:30px;
  }
  article{
    flex-direction:column;
  }
  nav{
    position:absolute !important;
    top:6.5vh !important;
    right:5vw !important;
  }
  aside{
    height:0;
  }
  section:last-child{
    margin-bottom:10vh !important;
  }
}